@model Easy.Hosts.Site.Models.ViewModel.Access
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", null, FormMethod.Post, new { @class = "row" }))
{
    @Html.AntiForgeryToken()
    <div class="form">
        <span class="help-block">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger text-center", @style = "list-style-type: none" })
        </span>

        <div class="row">
            <div class="col-12 col-md-12 input-group-icon mt-2">
                <div class="icon"><i class="fa fa-send" aria-hidden="true"></i></div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "single-input", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-12 input-group-icon mt-3">
                <div class="icon"><i class="fa fa-key" aria-hidden="true"></i></div>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "single-input", @placeholder = "Senha" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-12 col-md-12 mt-4 text-center">
                <button type="submit" class="book_now_btn button_hover" name="submit">Entrar</button>
            </div>
            <div class="col-12 col-md-12 mt-4 text-center">
                <div class="col-auto"><a class="fs--1" href="#">Esqueceu a senha?</a></div>
                <hr />
                @Html.ActionLink("Criar Conta", "Register", "Home", null, new { @class = "nav-link" })

            </div>
        </div>
    </div>
}

