@model Easy.Hosts.Site.Models.ViewModel.SiteViewModel

@{
    ViewBag.Title = "Inicio";
}



<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>LONGE DA VIDA MONÓTONA</h6>
                <h2>Relaxe a Sua Mente</h2>
                <p> Confira já as informações dos quartos <br> Reserve agora!</p>
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="hotel_booking_area position mb-md-5">
            @using (Html.BeginForm("Booking", "Site", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" value="@User.Identity.Name.Split('|')[0]" name="userId" />
                <div class="container">
                    <div class="hotel_booking_table bg-white">
                        <div class="col-md-3">
                            <h2 class="text-dark">Reserve<br> Seu Quarto</h2>
                        </div>
                        <div class="col-md-9 text-dark">
                            <div class="boking_table">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class="input-group-icon mb-3">
                                                    @Html.DropDownList("BedroomId", (SelectList)ViewBag.BedroomId, htmlAttributes: new { @id = "default-select", @class = "form-control", @name = "bedroomId", @placeholder = "Escolha um quarto..." })

                                                </div>
                                                <div class="input-group date" id="">
                                                    <input type="date" name="dateCheckin" class="form-control" placeholder="Data do Checkin..." required />
                                                </div>
                                                <div class="input-group date" id="">
                                                    <input type="date" name="dateCheckout" class="form-control" placeholder="Data do Checkout..." required />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="submit" class="book_now_btn button_hover" href="#" value="Reservar Agora" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
    else
    {
        <div class="hotel_booking_area position">
            <div class="container">
                <div class="hotel_booking_table bg-white">
                    <div class="col-md-12 text-center ">
                        <h2 class="text-dark">Reserve seu Quarto</h2>
                        <h6>FAÇA SEU LOGIN</h6>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<!--================Banner Area =================-->
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Nossas Instalações</h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Restaurante</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Clube de Esportes</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Piscinas</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Estacionamento</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Academia</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="fa fa-send"></i>Bar</h4>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap mt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">Sobre Nós <br>Nossa História<br>Missão & Visão</h2>
                    <p>Lorem ipsum dolor sit amet. Ut vitae enim et dignissimos sunt et sint explicabo ad iste distinctio eum molestiae maxime in odio iste qui consequatur laboriosam. Ea quisquam iure est facilis tempore nam omnis maiores. Ad dolore alias et recusandae molestia.</p>
                    <a href="#" class="button_hover theme_btn_two">Reserve Agora!</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/Content/image/logo.png" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Eventos da Cidade</h2>
            <p>Venha se divertir com os melhores eventos da cidade. </p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model.Event)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img class="img-fluid" src="@Url.Action("GetImageEvent","Site", new { id = item.Id })" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="#" class="button_hover tag_btn">@Html.DisplayFor(modelItem => item.NameEvent)</a>
                                <a href="#" class="button_hover tag_btn">@Html.DisplayFor(modelItem => item.Organizer)</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">@Html.DisplayFor(modelItem => item.TypeEvent)</h4></a>
                            <p>@Html.DisplayFor(modelItem => item.DescriptionEvent).</p>
                            <h6 class="date title_color">@Html.DisplayFor(modelItem => item.DateEvent)</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->
