@model IEnumerable<Easy.Hosts.Site.Models.Bedroom>

@{
    ViewBag.Title = "Quartos";
}

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Quartos Disponiveis</h2>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Site", new { @class = "" })">Home</a></li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap bg-light ml-5">
    <div class="section_title text-center">
        <h2 class="title_color">Melhores Quartos!</h2>
        <p>Em nossos quartos, você encontrará conforto, elegância e todos os elementos essenciais para uma estadia relaxante e memorável.</p>
    </div>
    <div class="container">
        <div class="row">
            @if (Model.Count() == 0)
            {
                <div class="text-center py-5">
                    <p class="fs-5 fw-light">No momento não há quartos no Easy Hosts!</p>
                    <span>Atualizado em: <strong>@DateTime.Now.ToString()</strong></span>
                </div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 mr-3">
                            <div class="card rounded mt-3" style="width: 22rem;">
                                <img src="@Url.Action("GetImageBedroom", "Site", new { id = item.Id })" alt="">
                                <div class="card-body text-center">
                                    <a href="#" class="btn theme_btn button_hover">@Html.DisplayFor(modelItem => item.NameBedroom)</a>
                                    <h4 class="sec_h4">@Html.DisplayFor(modelItem => item.TypeBedroom.NameTypeBedroom)</h4>

                                    <h5>R$@Html.DisplayFor(modelItem => item.Value)<small>/diaria</small></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

</section>
<!--================ Accomodation Area  =================-->
