<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Hosts</title>
    <link rel="icon" href="~/Content/image/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @Styles.Render("~/Content/Css/style_copy.css")
    @Styles.Render("~/Content/Css/_elements.css")
    @Styles.Render("~/Content/Css/_footer.css")
    @Styles.Render("~/Content/Css/_testimonial.css")
    @Styles.Render("~/Content/Css/_variables.css")
    @Styles.Render("~/Content/Css/bootstrap.css")
    @Styles.Render("~/Content/Css/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/Css/font-awesome.min.css")
    @Styles.Render("~/Content/Css/linericon_style.css")
    @Styles.Render("~/Content/Css/nice-select.css")
    @Styles.Render("~/Content/Css/owl.carousel.min.css")
    @Styles.Render("~/Content/Css/responsive.css")
    @Styles.Render("~/Content/Css/style.css")
</head>
<body>

    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo_h" href="index.html"><img src="~/Content/image/logo_nav_5.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">

                        <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Quartos", "Quartos", "Home", null, new { @class = "nav-link" })</li>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">@Html.ActionLink("Logar", "Login", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Registre-se", "Register", "Home", null, new { @class = "nav-link" })</li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá @User.Identity.Name.Split('|')[1]</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">@Html.ActionLink("Sair", "Logout", "Home", null, new { @class = "nav-link" })</li>
                                    <a class="nav-item" href="@Url.Action("MeuPerfil", "Home", new { id = User.Identity.Name.Split('|')[0] })">Meu Perfil</a>
                                </ul>
                            </li>

                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navegacao</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Quartos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    Copyright &copy;  @DateTime.Now Todos os diretos reservados.</a>
                </p>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/popper.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/jquery.ajaxchimp.min.js")
    @Scripts.Render("~/Scripts/mail-script.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/jquery.nice-select.min.js")
    @Scripts.Render("~/Scripts/simpleLightbox.min.js")
    @Scripts.Render("~/Scripts/stellar.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/gmaps.min.js")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/contact.js")

    @RenderSection("scripts", required: false)

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @if (TempData["MSG"] != null)
    {
        <script>
            $(document).ready(function () {
                var titulo = "";
                switch ("@TempData["MSG"].ToString().Split('|')[0]") {
                    case "success":
                    titulo = "Sucesso";
                break;
                    case "warning":
                    titulo = "Atenção";
                break;
                    case "error":
                    titulo = "Erro";
                break;
                    case "info":
                    titulo = "Informação";
                break;
                }
                swal(titulo, "@Html.Raw(TempData["MSG"].ToString().Split('|')[1])",
                "@TempData["MSG"].ToString().Split('|')[0]");
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $('#dataentrada').on('change', function () {
                if (this.value != '0000-00-00 00:00') {
                    $("#quartos").show();
                } else {
                    $("#quartos").hide();
                }
            });
        });
    </script>

</body>
</html>
